{% extends "base.html" %}

{% block content %}
<div class="card" style="max-width: 400px; margin: auto;">
    <h2>Login</h2>
    <form method="POST">
        <label>Username</label>
        <input type="text" name="username" required>
        <label>Password</label>
        <input type="password" name="password" required>
        <button type="submit" style="width: 100%; margin-top: 10px;">Login</button>
        <div style="text-align: center; margin-top: 10px;">
            <a href="{{ url_for('main.reset_request') }}">Forgot Password?</a><br>
            <a href="{{ url_for('main.register') }}">Create Account</a>
        </div>
    </form>
</div>
{% endblock %}